.slider{
    display: flex;
    width: 80vw;
    margin: 100px auto;
    opacity: 0;
    transform: translateY(10%);
    transition: 1s  ease-out;
}

.show-slider{
    opacity: 1;
    transform: translateY(0);
}

.slider-img{
    width: 45%;
}

.slider-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.slider-title{
    text-align: center;
}

@media screen and (max-width: 920px){
    .slider{
        flex-direction: column;
        background-color: rgb(217, 217, 217);
        margin: 50px auto;
        width: 90%;
        box-shadow: 6px 6px 0 1px rgb(110, 110, 110);
        
    }

    .slider-img{
        width: 100%;
        
    }
    .slider-content{
        padding: 80px 40px;
    }
}