footer{
    display: block;
    position: relative;
    margin: 0;
    padding: 5vh 5vw;
    background: linear-gradient(90deg, rgb(55, 55, 80) 0%,  rgb(11, 47, 79) 100%);
}

.footer-logo{
    background: -webkit-linear-gradient(#eee, rgb(195, 225, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 5rem;
}

.footer-line{
    height: 3px;
    width: 100%;
    display: block;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(195, 225, 251) 40%);
    margin-block: 5vh;
}

.footer-content{
    display: flex;
    justify-content: center;
}

.footer-contact{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.footer-contact span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 1rem;

}

.footer-contact span a{
    color: white;
    text-decoration: none;
}

.footer-contact span h2{
    margin-bottom: 15px;
}
.footer-icon{
    border: 5px solid white;
    border-radius: 50%;
    margin-bottom: 15px;
    padding: 10px;
    max-width: 20vw;
    max-height: 20vw;
}

.footer-newsletter{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    height: auto;
    padding: 3%;
    border-radius: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(66, 82, 106) 0%,  rgba(22, 97, 163, 0.629) 100%);
}


.footer-newsletter form{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-newsletter button,
.footer-newsletter input{
    padding: .5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}
.footer-newsletter input{
    width: 60%; 
}

.footer-newsletter button{
    width: 35%;
    background-color: #ffd92d;;
    color: rgb(22, 97, 163);
    font-weight: bold;
    cursor: pointer;
}

.invalid-email{
    box-shadow: 0 0 12px 0 rgb(255, 2, 2);
}

@media screen and (max-width: 920px){

    footer{
        padding-inline: 0;
    }

    .footer-content{
        flex-direction: column;
        gap: 5vh;
    }

    .footer-contact{
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
       
    }
    .footer-contact span{
        max-width: 30%;
        overflow-wrap: break-word;
    }

    .footer-contact p{
        font-size: .7rem;
    }
    .footer-logo{
        font-size: 3rem;
    }

    .footer-contact span h2{
        font-size: 1.2rem;
    }

    .footer-newsletter{
        margin-inline: 5vw;
    }
}