:root {
    --gold: rgb(255, 217, 0);
    --silver: rgb(222, 226, 227);
    --bronze: rgb(230, 143, 57);
  }


.posts-wraper{
    min-height: 100vh !important;
    padding-top: 70px;
    width: 100%;
    display: flex;
}

.posts-container{
    width: 70%;
    display: flex;
    align-items: flex-start;
    padding-inline: 5vw;
    margin-right: auto;
    flex-direction: column;
}

.posts-loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.posts-best{
    flex: 1;
    display: grid;
    grid-auto-rows:min-content;
    place-items: start center;
    grid-gap: 6vh;
    padding-top: calc(5vh + 70px);
    padding-bottom: 5vh;
    margin-top: -70px;   
    padding-inline: 2.5vw;
    background:  rgb(233, 245, 251);
}

.post-best{
    width: 100%;
}

.best-head{
    box-shadow: 0px 0px 0px 1rem rgb(167 210 248) !important;
}

.best-title{
    display: block;
}

* {
    box-sizing: border-box 
 }
.posts{
    width: 100%;
    display: grid;
    grid-auto-columns: 100%;
    grid-gap: 6vh;
}

.post{
    padding: 1rem;
    background-color:rgb(195, 225, 251);
}

.post-head{
    background-color:rgb(167, 210, 248);
    box-shadow: 0px 0px 0px 1.25rem rgb(167, 210, 248);
    margin-bottom: 2.5rem;
}

.post-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.post-title h2{
    font-weight: 500;
    overflow: hidden;
}

.post-desc{
    font-size: 1.3rem;
    margin-bottom: 2%;
    overflow-wrap: break-word;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 1.3rem;
    max-width: 100%;
}

.post-info{
    margin-bottom: 15px;
}

.post-content{
    margin-bottom: 2%;
    font-size: 1.2rem;
    white-space: pre-wrap;
}

.post button,
.new-post-button button{
    padding: 12px;
    cursor: pointer;
    background-color:rgb(60, 69, 77);
    color: white;
    border: none;
}

.post button:hover,
.new-post-button button:hover{
    background-color:rgb(73, 84, 93);
}

.new-post-button{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;

}

.posts-best > :nth-child(2) > .post-head{
    background: var(--gold);
    box-shadow: 0 0 0 1rem var(--gold) !important;
}
.posts-best > :nth-child(3) .post-head{
    background: var(--silver);
    box-shadow: 0 0 0 1rem var(--silver) !important;
}
.posts-best > :nth-child(4) .post-head{
    background: var(--bronze);
    box-shadow: 0px 0px 0 1rem var(--bronze) !important;
}

@media screen and (max-width: 920px){
    .posts-wraper{
        flex-direction: column;
    }
    .posts-container{
        width: 100%;
    }
    .posts-best{
        margin-top: 0;
        padding-top: 5vh;
    }
  }