.posts-container{
    width: 70%;
    padding-top: 70px;
    display: flex;
    align-items: flex-start;
    padding-inline: 5vw;
    margin-right: auto;
    flex-direction: column;
}
* {
    box-sizing: border-box 
 }
.posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.post{
    padding: 1rem;
    background-color:rgb(195, 225, 251)
}

.post-head{
    background-color:rgb(167, 210, 248);
    box-shadow: 0px 0px 0px 1.25rem rgb(167, 210, 248);
    margin-bottom: 2.5rem;
}

.post-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.post-title h2{
    font-weight: 500;
    overflow: hidden;
}

.post-desc{
    margin-bottom: 2%;
    overflow-wrap: break-word;
    max-height: 100px;
    overflow: hidden;
}

.post-content{
    margin-bottom: 2%;
    font-size: 1.2rem;
}

.post button,
.new-post-button button{
    padding: 12px;
    cursor: pointer;
    background-color:rgb(60, 69, 77);
    color: white;
    border: none;
}

.post button:hover,
.new-post-button button:hover{
    background-color:rgb(73, 84, 93);
}

.new-post-button{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;

}