.slider{
    display: flex;
    width: 80vw;
    margin-inline: auto;
    align-items: center;
    margin-block: 100px;
    opacity: 0;
    transform: translateY(10%);
    transition: 1s  ease-out;
}

.show-slider{
    opacity: 1;
    transform: translateY(0);
}

.slider-img{
    width: 45%;
}

.slider-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.slider-title{
    text-align: center;
}

@media screen and (max-width: 920px){
    .slider{
        flex-direction: column;
        background-color: rgb(217, 217, 217);
        
    }

    .slider-img{
        width: 100%;
        
    }
    .slider-content{
        padding: 80px 40px;
    }
}