body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

.Container{
  
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  padding: 2vmin;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  padding: 2vmin;
  background-color: rgb(55, 55, 55);
  color: white;
  text-align: center;
}

nav{
  z-index: 2;
}

nav .nav-icon{
  font-size: 2.5rem;
  cursor: pointer;
  
}

nav .menu-bar{
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(77, 77, 77, 0.928);
  color: white;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 3rem;
  line-height: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .8s cubic-bezier(0,.96,.23,.98), opacity .8s cubic-bezier(0,.96,.23,.98);
  
}

nav .menu-bar li{
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 6vw 0 18vw;
  text-align: right;
  width: 100%;
  margin: 0;
}
nav .menu-bar li:hover{
  background-color: rgb(128, 128, 128);
}
nav .menu-bar ul{
  list-style: none;
  padding: 0;
}

.show-menu{
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.link{
  color: white;
  text-decoration: none;
}